.NavbarItems{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 65vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    font-size: 20px;
    line-height: 22px;
    color: #808080;
    margin: 0px 10px;
    font-weight: 400;
    text-decoration: none;
    font-family: "Bree Serif";
}

.spi{
    animation: spider 3s linear infinite;
    display: none;
    position: absolute;
    margin-left: 1%;
    top: 0;
}

.nav-links:hover + .spi {
    display: block;
}


.nav-links:hover{
    color: #ff5722;
}

@keyframes spider {
    0%{
      transform: translate(0%,1%);
    }
    50%{
      transform: translate(0%,8%);
    }
    100%{
      transform: translate(0%,1%);
    }
  }



.fa-bars{
    color: #fff;
}

.fa-times{
    color: #fff;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:1200px) {
    .NavbarItems{
        position: relative;
    }

    .nav-links:hover + .spi {
        display: none;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 700px;
        position: absolute;
        top: 120px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }

    .nav-menu.active{
        background: #000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 999;
    }

    .nav-links{
        text-align: center;
        padding: 1.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-links:hover{
        color: #ff5722;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%,50%);
        margin-left: 0px;
    }

    .menu-icon{
        display: block;
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,150%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}